---
import Header from "../components/Header.astro";

export const prerender = false;

export let questions = {};

if(Astro.request.method === "POST"){
  try{
    const data = await Astro.request.formData();
    questions = {
      qst1: data.get("question1"),
      qst2: data.get("question2"),
      qst3: data.get("question3"),
      qst4: data.get("question4"),
      qst5: data.get("question5"),
      qst6: data.get("question6"),
      qst7: data.get("question7"),
      qst8: data.get("question8"),
      qst9: data.get("question9")
    };
  }catch (error){
    console.log(error.message);
  }
}
console.log(questions);
---

<!DOCTYPE html>
<html>
  <Header title="Form" />
  <body>
    <div class="content">
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Seja bem-vindo, usuário!<br />Vamos começar?</h1>
              <p class="lead">
                <strong>O que esperar?</strong>
                <br>
                Você vai responder um formulário sobre um assunto específico, ajudando-nos em uma causa!
              </p>
            </div>
            <hr class="separator">
            <div>
              <form method="POST" class="form">

                <label for="question1" class="form-label"><b>1- </b>Em um relacionamento, você concorda que o cuidado com a casa e os filhos deve ser dividido igualmente, independentemente da jornada de trabalho de cada um?</label>
                <div class="flex">
                  <input type="radio" name="question1" value="sim">Sim, é responsabilidade mútua.
                  <input type="radio" name="question1" value="nao" style="margin-left: 1rem;">Não, a pessoa que trabalha menos fora de casa deve cuidar mais.
                  <input type="radio" name="question1" value="depende" style="margin-left: 1rem;">Depende da cultura ou acordo do casal.
                  <input type="radio" name="question1" value="naoSabe" style="margin-left: 1rem;">Não sei responder
                </div>

                <label for="question2" class="form-label"><b>2- </b>Qual sua reação mais comum ao ver um homem se recusando a realizar tarefas domésticas ou de cuidado (como limpar ou cozinhar), alegando que "isso é coisa de mulher"?</label>
                <div class="flex">
                  <input type="radio" name="question2" value="corrige">Eu o confronto ou corrijo.
                  <input type="radio" name="question2" value="ignora" style="margin-left: 1rem;">Eu ignoro, não é problema meu.
                  <input type="radio" name="question2" value="concorda" style="margin-left: 1rem;">Eu concordo, desde que ele colabore em outras áreas.
                  <input type="radio" name="question2" value="naoSabe" style="margin-left: 1rem;">Não sei.
                </div>

                <label for="question3" class="form-label"><b>3- </b>Você já se sentiu pressionado por outros homens (amigos, família) a não demonstrar emoções ou a ser "durão", sob o risco de ser ridicularizado ou chamado de "fraco"?</label>
                <div class="flex">
                  <input type="radio" name="question3" value="frequentemente">Sim, e isso acontece com frequência.
                  <input type="radio" name="question3" value="buscaMasculinidade" style="margin-left: 1rem;">Sim, mas busco sempre ser mais masculino
                  <input type="radio" name="question3" value="naoImporta" style="margin-left: 1rem;">Sim, mas nem me importo
                  <input type="radio" name="question3" value="nao" style="margin-left: 1rem;">Não
                </div>

                <label for="question4" class="form-label"><b>4- </b>Em uma briga de casal, você acredita que o homem tem o dever de "manter a calma" e evitar que a mulher "perca o controle", agindo como o lado mais racional?</label>
                <div class="flex">
                  <input type="radio" name="question4" value="sim">Sim, esse é o papel do homem.
                  <input type="radio" name="question4" value="nao" style="margin-left: 1rem;">Não, a responsabilidade emocional é igual para ambos.
                  <input type="radio" name="question4" value="naoSabe" style="margin-left: 1rem;">Não sei
                </div>

                <label for="question5" class="form-label"><b>5- </b>Quando uma mulher relata ter sofrido machismo ou assédio, qual é a sua reação imediata?</label>
                <div class="flex">
                  <input type="radio" name="question5" value="apoia">Eu a apoio e pergunto como posso ajudar.
                  <input type="radio" name="question5" value="questiona" style="margin-left: 1rem;">Eu questiono os fatos para ter certeza de que não houve um mal-entendido.
                  <input type="radio" name="question5" value="evita" style="margin-left: 1rem;">Eu evito me envolver e não comento.
                  <input type="radio" name="question5" value="fazPiada" style="margin-left: 1rem;">Eu começo a rir e fazer piadas
                </div>

                <label for="question6" class="form-label"><b>6- </b>Você acredita que o machismo afeta negativamente a vida dos próprios homens (por exemplo, restringindo a expressão de sentimentos ou limitando a criação dos filhos)?</label>
                <div class="flex">
                  <input type="radio" name="question6" value="sim">Sim, o machismo é prejudicial para todos.
                  <input type="radio" name="question6" value="nao" style="margin-left: 1rem;">Não, o machismo prejudica principalmente as mulheres.
                  <input type="radio" name="question6" value="achaNatural" style="margin-left: 1rem;">Não, o machismo é natural e ncessário para a sociedade
                  <input type="radio" name="question6" value="naoSabe" style="margin-left: 1rem;">Não sei
                </div>

                <label for="question7" class="form-label"><b>7- </b>Quando você tá numa roda de amigos e rola aquela piada "clássica" que desvaloriza a mulher (tipo, "só pode ser mulher..."), qual é a sua reação mais comum?</label>
                <div class="flex">
                  <input type="radio" name="question7" value="riJunto">Rio junto, afinal, é só uma piada
                  <input type="radio" name="question7" value="naoAchaGraca" style="margin-left: 1rem;">Digo que não tem graça ou mudo de assunto
                  <input type="radio" name="question7" value="naoImporta" style="margin-left: 1rem;">Nem me importo
                  <input type="radio" name="question7" value="fezAPiada" style="margin-left: 1rem;">Provavelmente fui eu que fiz a piada
                </div>

                <label for="question8" class="form-label"><b>8- </b>Você se considera uma pessoa machista?</label>
                <div class="flex">
                  <input type="radio" name="question8" value="sim">Sim
                  <input type="radio" name="question8" value="nao" style="margin-left: 1rem;">Não
                </div>

                <label for="question9" class="form-label"><b>9- </b>Você faz comentários ou atitudes consideradas machistas?</label>
                <div class="flex">
                  <input type="radio" name="question9" value="frequentemente">Sim, com frequência
                  <input type="radio" name="question9" value="asVezes" style="margin-left: 1rem;">Sim, de vez em quando
                  <input type="radio" name="question9" value="raramente" style="margin-left: 1rem;">Raramente
                  <input type="radio" name="question9" value="nunca" style="margin-left: 1rem;">Nunca
                </div>

                <button type="submit" class="form-button">Enviar</button>
              </form>
            </div>
            <sub>Achou um erro?</sub>
            <br>
            <a href="mailto:gabriel_e_fagundes@estudante.sesisenai.org.br">Contate-nos</a>
          </main>
        </div>
      </div>
    </nav>
  </div>
  </body>
</html>