---
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import infos from "../pages/index.astro";

let name = infos.username;
---

<!DOCTYPE html>
<html>
  <Header title="Form" />
  <body>
    <div class="content">
      <Sidebar selectedItem="home" />
      <nav class="main">
        <div class="container">
          <main class="fold-content-container">
            <div class="fold-content">
              <h1>Seja bem-vindo, {name}<br />Vamos começar?</h1>
              <p class="lead">
                <strong>O que esperar?</strong>
                <br>
                Você vai responder um formulário sobre um assunto específico, ajudando-nos em uma causa!
              </p>
            </div>
            <hr class="separator">
            <div>
              <form method="POST" class="forms">

                <label for="question1" class="form-label"><b>1- </b>Você já presenciou ou vivenciou algum ataque de viés misógino?</label>
                <div class="flex">
                  <input type="radio" name="question1" value="nao">Sim
                  <input type="radio" name="question1" value="sim" style="margin-left: 3rem;">Não
                </div>

                <label for="question2" class="form-label"><b>2- </b>Você conhece alguma mulher que já tenha passado por algum tipo de violência?</label>
                <div class="flex">
                  <input type="radio" name="question1" value="nao">Sim
                  <input type="radio" name="question1" value="sim" style="margin-left: 3rem;">Não
                </div>

                <label for="question3" class="form-label"><b>3- </b>Você considera importante o debate sobre o tema?</label>
                <div class="flex">
                  <input type="radio" name="question1" value="nao">Sim
                  <input type="radio" name="question1" value="sim" style="margin-left: 3rem;">Não
                </div>

                <label for="question4" class="form-label"><b>4- </b>Você acredita que as leis deveriam ser endurecidas para aqueles que cometem crimes desse aspecto?</label>
                <div class="flex">
                  <input type="radio" name="question1" value="nao">Sim
                  <input type="radio" name="question1" value="sim" style="margin-left: 3rem;">Não
                </div>

                <label for="question5" class="form-label"><b>5- </b>Você acha que a Lei Maria da Penha é necessária?</label>
                <div class="flex">
                  <input type="radio" name="question1" value="nao">Sim
                  <input type="radio" name="question1" value="sim" style="margin-left: 3rem;">Não
                </div>

              </form>
            </div>
            <sub>Achou um erro?</sub>
            <br>
            <a href="mailto:gabriel_e_fagundes@estudante.sesisenai.org.br">Contate-nos</a>
          </main>
          <!-- DevOps & Cloud -->
          <a href="/devops" class="projects-container"></a>
        </div>
      </div>
    </nav>
  </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>