---
import Header from '../components/Header.astro';

export const prerender = false;
let infos = {};

if(Astro.request.method === "POST"){
  try{
    const data = await Astro.request.formData();
    infos = {
      name: data.get('name'),
      age: data.get('age'),
      gender: data.get('gender')
    };
  }catch(error){
    console.log(error);
  }
}
---

<!DOCTYPE html>
<html
>
  <Header title="Welcome" />
  <body>
    <div class="content">
      <nav class="main">
        <div class="container">
          <div class="content-container">
            <h1>Bem-vindo!</h1>
            <section class="items-container">
                <div class="resouce-items">
                  <form method="POST" class="form">
                    <label for="username" class="form-label">Qual o seu nome completo?</label>
                    <input type="text" name="username" placeholder="Seu nome completo..." class="form-input" required>
                    <br>
                    <label for="age" class="form-label">Qual a sua idade?</label>
                    <input type="number" name="username" placeholder="Sua idade..." class="form-input" required>
                    <br><br>
                    <p class="form-label">Qual o seu gênero?</p>
                    <div class="form-radio">
                      <div>
                        <label for="man">Homem</label>
                        <input type="radio" name="gender" value="man" required>
                      </div>
                      <div>
                        <label for="woman">Mulher</label>
                        <input type="radio" name="gender" value="woman">
                      </div>
                    </div>
                    <button type="submit" class="form-button">
                      <a class="button-link w-inline-block" id="start">
                      Começar formulário
                      </a>
                    </button>
                  </form>
                </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <script>
      let startForm = document.getElementById('start');
      
      document.querySelector('form')?.addEventListener("submit", (e) => {
        e.preventDefault();

        const form = e.target;
        let formData = new FormData(form); // this will not be null
        let infos = Object.fromEntries(formData);

        if(infos.gender === 'man'){
          startForm?.setAttribute('href', '/formMan');

        }else if(infos.gender === 'woman'){
          startForm?.setAttribute('href', '/formWoman');

        }
      });
    </script>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
