---
import { db, Pessoa } from 'astro:db';
import Header from '../components/Header.astro';

export const prerender = false;
let infos = {};

if(Astro.request.method === "POST"){
  try{
    const data = await Astro.request.formData();
    let nome = data.get('name');
    let idade = data.get('age');
    let genero = data.get('gender');

    await db.insert(Pessoa).values({
      nome: nome,
      idade: idade,
      genero: genero
    });
  }catch(error){
    console.log(error);
  }
}
---

<!DOCTYPE html>
<html
>
  <Header title="Welcome" />
  <body>
    <div class="content">
      <nav class="main">
        <div class="container">
          <div class="content-container">
            <h1>Bem-vindo!</h1>
            <section class="items-container">
                <div class="resouce-items">
                  <form method="POST" class="form">
                    <label for="username" class="form-label">Qual o seu nome completo?</label>
                    <input type="text" name="username" placeholder="Seu nome completo..." class="form-input" required>
                    <br>
                    <label for="age" class="form-label">Qual a sua idade?</label>
                    <input type="number" name="username" placeholder="Sua idade..." class="form-input" required>
                    <br><br>
                    <p class="form-label">Qual o seu gênero?</p>
                    <div class="form-radio">
                      <div>
                        <label for="man">Homem</label>
                        <input type="radio" name="gender" value="man" required>
                      </div>
                      <div>
                        <label for="woman">Mulher</label>
                        <input type="radio" name="gender" value="woman">
                      </div>
                    </div>
                    <button type="submit" class="form-button" onclick="loadForm()">
                      <a class="button-link w-inline-block no-decoration" id="start">
                      Começar formulário
                      </a>
                    </button>
                    <sub class="text-secondary mx-2 mt-2">Se não carregar, recarregue a página...</sub>
                  </form>
                </div>
                <div class="d-flex justify-content-center mt-5" id="load"></div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <script>
      let startForm = document.getElementById('start');
      let loadContainer = document.getElementById("load");

      document.querySelector('form')?.addEventListener("submit", (e) => {
          e.preventDefault();

          const loadDiv = document.createElement("div");
          loadDiv.innerHTML = `
              <div class="spinner-border text-white text-center" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
              <p class="mx-3">Estamos carregando o formulário para você...</p>
          `;
          if(loadContainer)
            loadContainer.innerHTML = '';

          loadContainer?.appendChild(loadDiv);
          
          const form = e.target;
          let formData = new FormData(form); // nao sera nulo
          let infos = Object.fromEntries(formData);
          
          let targetPath = '';

          if(infos.gender === 'man'){
              targetPath = '/formMan';
          } else if(infos.gender === 'woman'){
              targetPath = '/formWoman';
          }

          setTimeout(() => {
            if(loadContainer)
              loadContainer.innerHTML = `<p class="mx-3">Formulário carregado! Redirecionando...</p>`;
              
            startForm?.setAttribute('href', targetPath);

            if (targetPath) {
                window.location.href = targetPath;
            }

          }, 3000);

      });
    </script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
