---
const { selectedItem } = Astro.props;
---

<aside
  data-animation="default"
  data-collapse="medium"
  data-duration="400"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="sidebar w-nav"
>
  <div class="nav-content">
    <nav role="navigation" class="w-nav-menu">
      <a
        href="/"
        class={`nav-link-container w-inline-block ${
          selectedItem === 'devops' ? 'w--current' : ''
        }`}
      >
        <img
          src="/assets/dns.svg"
          loading="eager"
          alt=""
          class="nav-link-image"
        />
        <div>Login</div>
      </a>
    </nav>

  <script>
    import { setupNav } from '../scripts/nav.js';
    
    let cleanup;
    document.addEventListener('astro:page-load', () => {
      if (cleanup) cleanup();
      cleanup = setupNav();
    });

    document.addEventListener('astro:before-swap', () => {
      if (cleanup) cleanup();
    });
  </script>
</aside>
